<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="container">
		  <div class="head_title">Ｑ＆Ａ</div>

		  <div th:replace="common/Msg :: msg"></div>


		    <div class="text-center mb-3">
		      <a href="/qboard/headlist" class="btn btn-secondary">質問掲示板に戻る</a>
		    </div>

			<div class="container px-4 px-lg-5 d-flex align-items-center justify-content-center">
				<div class="d-flex justify-content-center">


					<div th:each="qborad, qboradRec : ${qboardlist}" th:object="${qborad}">

					<th:block th:if="${qboradRec.count % 2 == 1}">
						<div class="card" style="width: 40rem;">
					</th:block>
					<th:block th:if="${qboradRec.count % 2 == 0}">
						<div class="card bg-light" style="width: 40rem;">
					</th:block>
							<div class="card-body center">
								<h5 class="card-title"><strong>投稿者：<span th:text="*{name}" class="text-center"></span></strong></h5>
<!--
								<div th:text="${'NO：' + qboradRec.count}" class="mb-2"></div>
-->
								<div class="mb-3">
<!--
									<th:block th:if="${#strings.length(qborad.content) > 35}">
										<strong th:text="${#strings.substring(qborad.content,0,35)}"></strong>
									</th:block>
									<th:block th:if="${#strings.length(qborad.content) <= 35}">
								        <strong th:text="*{content}"></strong>
									</th:block>


								  <textarea name="content" th:text="*{content}" class="form-control" style="resize: none;" placeholder="最大２５５文字まで入力可能です。"></textarea>
-->
								  <textarea readonly name="content" th:text="*{content}" class="form-control"placeholder="最大２５５文字まで入力可能です。"></textarea>
								</div>

								<div th:text="${'投稿日：' + #dates.format(qborad.createDate, 'yyyy/MM/dd H:mm')}" class="mb-2"></div>
								<th:block th:if="${authUser.id == qborad.userId}">
								    <a th:href="@{/qboard/{id}/delete(id=*{id})}" class="btn btn-danger btn-sm">　削除　</a>
								</th:block>
							</div>
						</div>

				    <div class="text-center mt-3 mb-3">
				      <a th:href="@{/qboard/add}" class="btn btn-success">このＱ＆Ａに投稿する</a>
				    </div>

					</div>

				</div>
			</div>



		</div>
	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>
<!--
	<div th:replace="common/js/JsSearchWork :: scriptSearchWork"></div>
-->
  </body>
</html>