<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="container">
		  <div class="head_title">Ｑ＆Ａ</div>

		  <div th:replace="common/Msg :: msg"></div>


		    <div class="text-center mb-3">
		      <a href="/qboard/headlist" class="btn btn-secondary">質問掲示板に戻る</a>
		    </div>

			<div class="container px-4 px-lg-5 d-flex align-items-center justify-content-center">
				<div class="d-flex justify-content-center">

					<div th:each="qborad, qboradRec : ${qboardlist}" th:object="${qborad}">

					<th:block th:if="${qboradRec.count % 2 == 1}">
						<div class="card" style="width: 35rem;">
					</th:block>
					<th:block th:if="${qboradRec.count % 2 == 0}">
						<div class="card bg-light" style="width: 35rem;">
					</th:block>
						<th:block th:if="${qborad.statusCode == 8}">
							<div class="card-body center">
								<div class="card-title"><strong>管理者より</strong></div>
								<div class="mb-2">※不適切な内容を含んだ投稿のため、削除されました。</div>
								<th:block th:if="${#authentication.principal.roles.get(0) == 'ROLE_ADMIN'}">
								    <a th:href="@{/qboard/{id}/releaseAdmin(id=*{id})}" class="btn btn-success btn-sm">ペナルティ削除の解除</a>
								</th:block>
							</div>
						</th:block>
						<th:block th:if="${qborad.statusCode != 8}">
							<div class="card-body">
								<th:block th:if="${qborad.bodyId == 1}">
									<div class="card-title">【質問者】<strong><span th:text="*{name}"></span></strong>さん</div>
								</th:block>
								<th:block th:if="${qborad.bodyId != 1}">
									<div class="card-title"><strong><span th:text="*{name}"></span></strong>さん</div>
								</th:block>

								<th:block th:if="${#authentication.principal.roles.get(0) == 'ROLE_ADMIN'}">
<!--
									<div th:text="${'NO：' + qboradRec.count}" class="mb-2"></div>
-->
									<div class="mb-2">ユーザーID：<span th:text="*{userId}"></span></div>
								</th:block>

								<div class="mb-3">
								  <textarea readonly rows="5" name="content" th:text="*{content}" class="form-control"></textarea>
<!--
								  <textarea name="content" th:text="*{content}" style="resize: none;"></textarea>
								  <textarea readonly name="content" th:text="*{content}" class="form-control" style="resize: auto;"></textarea>
-->
								</div>

								<div th:text="${'投稿日：' + #dates.format(qborad.createDate, 'yyyy/MM/dd H:mm')}" class="mb-2"></div>
								<th:block th:if="${authUser.id == qborad.userId}">
								    <a th:href="@{/qboard/{id}/delete(id=*{id})}" class="btn btn-danger btn-sm">　削除　</a>
								</th:block>
								<th:block th:if="${#authentication.principal.roles.get(0) == 'ROLE_ADMIN'}">
								    <a th:href="@{/qboard/{id}/deleteAdmin(id=*{id})}" class="btn btn-danger btn-sm">違反投稿の削除</a>
								</th:block>
							</div>
						</th:block>

						</div>

				    <div class="text-center mt-3 mb-3">
				      <a th:href="@{/qboard/add}" class="btn btn-success">このＱ＆Ａに投稿する</a>
				    </div>

					</div>

				</div>
			</div>



		</div>
	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>
  </body>
</html>