<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${authUser.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	
		<div class="container">
		  <div class="head_title">勤退情報新規登録</div>
	
		  <div th:replace="common/Msg :: msg"></div>
	
		  <form th:action="@{/work/create}" th:object="${workRequest}" th:method="post">
	
		    <div class="form-group mb-2">
		      <label>勤退内容（勤務地など）：<span class="text-danger">※</span></label>
		      <input type="text" th:field="*{content}" class="form-control">
		    </div>
	
		    <div class="form-group mb-2">
		      <label>出勤日：<span class="text-danger">※</span></label>
		      <br>
		      <input type="number" th:field="*{startDateY}" class="form-control-inline" maxlength="4" style="width:70px;"> 年
		      <input type="number" th:field="*{startDateM}" class="form-control-inline" maxlength="2" style="width:50px;"> 月
		      <input type="number" th:field="*{startDateD}" class="form-control-inline" maxlength="2" style="width:50px;"> 日
		      <input type="number" th:field="*{startDateHH}" class="form-control-inline" maxlength="2" style="width:50px;"> 時
		      <input type="number" th:field="*{startDateMI}" class="form-control-inline" maxlength="2" style="width:50px;"> 分
		    </div>
	
		    <div class="form-group mb-2">
		      <label>退勤日：<span class="text-danger">※</span></label>
		      <br>
		      <input type="number" th:field="*{endDateY}" class="form-control-inline" maxlength="4" style="width:70px;"> 年
		      <input type="number" th:field="*{endDateM}" class="form-control-inline" maxlength="2" style="width:50px;"> 月
		      <input type="number" th:field="*{endDateD}" class="form-control-inline" maxlength="2" style="width:50px;"> 日
		      <input type="number" th:field="*{endDateHH}" class="form-control-inline" maxlength="2" style="width:50px;"> 時
		      <input type="number" th:field="*{endDateMI}" class="form-control-inline" maxlength="2" style="width:50px;"> 分
		    </div>
	
		    <div class="text-center">
		      <input type="submit" value="　登録　" class="btn btn-primary">
		      <a href="/work/list" class="btn btn-secondary">キャンセル</a>
		    </div>
		  </form>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>