<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${authUser.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	
		<div class="container">
		  <div class="head_title">勤退情報一覧</div>
	
		  <div th:replace="common/Msg :: msg"></div>
	
		  <form th:action="@{/work/searchym}" th:object="${workRequest}" th:method="post">
			<div class="mb-3">
				勤退年月：
				<input type="number" th:field="*{searchDateY}" class="form-control-inline" maxlength="4" style="width:70px;"> 年
				<input type="number" th:field="*{searchDateM}" class="form-control-inline" maxlength="2" style="width:50px;"> 月
				<input type="submit" value="　年月検索　" class="btn btn-success">
			</div>
		  </form>
	
		  <form th:action="@{/work/search}" th:object="${workRequest}" th:method="post">
			<div class="mb-3">
				勤退開始日：
				<input type="number" th:field="*{startDateY}" class="form-control-inline" maxlength="4" style="width:70px;"> 年
				<input type="number" th:field="*{startDateM}" class="form-control-inline" maxlength="2" style="width:50px;"> 月
				<input type="number" th:field="*{startDateD}" class="form-control-inline" maxlength="2" style="width:50px;"> 日　～　勤退終了日：
				<input type="number" th:field="*{endDateY}" class="form-control-inline" maxlength="4" style="width:70px;"> 年
				<input type="number" th:field="*{endDateM}" class="form-control-inline" maxlength="2" style="width:50px;"> 月
				<input type="number" th:field="*{endDateD}" class="form-control-inline" maxlength="2" style="width:50px;"> 日
				<input type="submit" value="　検索　" class="btn btn-success">
			</div>
		  </form>
	
		  <hr>
	
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>NO</th>
		        <th>勤退内容（勤務地など）</th>
		        <th>出勤日時</th>
		        <th>退勤日時</th>
		        <th>労働時間</th>
		        <th><a th:href="@{/work/add}" class="btn btn-primary">新規登録はこちら</a></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="work, workRec : ${worklist}" th:object="${work}" class="align-middle">
		        <td th:text="${workRec.count}" class="text-center"></td>
		        <td th:text="*{content}"></td>
		        <td th:text="${#dates.format(work.startDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td th:text="${#dates.format(work.endDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td th:text="${work.worktime}"></td>
		        <td class="center">
		        	<a th:href="@{/work/{id}(id=*{id})}" class="btn btn-success">詳細</a>
		        	<a th:href="@{/work/addcopy{id}(id=*{id})}" class="btn btn-primary">コピー(新規登録)</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>