<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	
		<div class="container">
		  <div class="head_title">打刻登録</div>
	
		  <div th:replace="common/Msg :: msg"></div>
	
		  <div class="mb-3">
			<h5>◆今日は『<span th:text="${sysInfo.SysdateYMD + '(' + sysInfo.SysdateYoubi + '曜日)'}">sysdate</span>』
			<br>　出退勤の打刻登録ができます。
			</h5>
		  </div>
	
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>NO</th>
		        <th>勤退内容（勤務地など）</th>
		        <th>出勤日</th>
		        <th></th>
		        <th>退勤日</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="work, workRec : ${worklistNow}" th:object="${work}" class="align-middle">
		        <td th:text="${workRec.count}" class="text-center"></td>
		        <td th:text="*{content}"></td>
		        <td th:text="${#dates.format(work.startDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td class="center">
		        	<a th:href="@{/work/stampin}" class="btn btn-success" th:if="${work.startDate == null}">　打刻登録(出勤)　</a>
		        	<a th:href="@{/work/stampin{id}(id=*{id})}" class="btn btn-success" th:if="${work.startDate != null}">打刻登録(出勤更新)</a>
		        </td>
		        <td th:text="${#dates.format(work.endDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td class="center">
		        	<span th:if="${work.startDate == null}">未登録</span>
		        	<a th:href="@{/work/stampout{id}(id=*{id})}" class="btn btn-success" th:if="${work.startDate != null}">打刻登録(退勤)</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
	
	
		  <hr>
	
		  <div class="mb-3">
			<h5>◆今月の出退勤記録
			</h5>
		  </div>
	
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>NO</th>
		        <th>勤退内容（勤務地など）</th>
		        <th>出勤日</th>
		        <th>退勤日</th>
		        <th>労働時間</th>
		        <th><a th:href="@{/work/add}" class="btn btn-primary">新規登録はこちら</a></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="work, workRec : ${worklist}" th:object="${work}" class="align-middle">
		        <td th:text="${workRec.count}" class="text-center"></td>
		        <td th:text="*{content}"></td>
		        <td th:text="${#dates.format(work.startDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td th:text="${#dates.format(work.endDate, 'yyyy/MM/dd H:mm')}"></td>
		        <td th:text="${work.worktime}"></td>
		        <td class="center">
		        	<a th:href="@{/work/{id}(id=*{id})}" class="btn btn-success">詳細</a>
		        	<a th:href="@{/work/addcopy{id}(id=*{id})}" class="btn btn-primary">コピー(新規登録)</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>