<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="container">
<!--
			<div class="head_title">ユーザー情報一覧</div>
-->
			<div th:replace="common/Msg :: msg"></div>

<!--
		  <div class="float-left mb-3">
		    <a th:href="@{/user/add}" class="btn btn-primary">新規登録はこちら</a>
		  </div>
			<div class="bg-white sticky-top p-3">
			<div class="sticky-top p-3">
-->
			<div class="search_form sticky-top p-2">
				<form th:action="@{/user/search}" class="my-2" th:object="${userRequestSearch}" th:method="post">
					<div class="d-flex align-items-between">
						<h6 class="me-2">【ユーザー情報一覧】検索条件</h6>
						<a href="#" id="condition-toggler" data-bs-toggle="collapse" data-bs-target="#searchCondition">
<!--
							<span class="d-none">[表示]</span>
-->
							<span class="d-none">[表示]</span>
							<span>[検索条件を隠す]</span>
						</a>
					</div>
					<div id="searchCondition" class="collapse show">
						<div class="border p-3 rounded">
<!--							<input type="button" class="btn btn-secondary btn-sm mb-3" value="検索条件クリア" id="clear_user_button"> -->
							<div class="d-flex align-items-center mb-3">
								<strong>年齢：</strong>
								<input type="number" class="form-control" maxlength="3" style="width:80px;"
										th:field="*{age}" />歳　～　
								<input type="number" class="form-control" maxlength="3" style="width:80px;"
										th:field="*{endAge}" />歳
							</div>
							<div class="d-flex align-items-center mb-1">
								<strong>性別：　</strong>
								<input type="checkbox" style="transform:scale(2.0);" id="checkMale" name="checkMale" th:checked="${userRequestSearch.checkMale}">　男性　　
								<input type="checkbox" style="transform:scale(2.0);" id="checkFemale" name="checkFemale" th:checked="${userRequestSearch.checkFemale}">　女性
							</div>
						</div>
<!--
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">性別</div>
						<div class="col py-2 border">
							<select th:field="*{gender}">
									<option th:each="selGender : ${allGender}" 
									th:value="${selGender}" 
									th:text="${selGender}"></option>
							</select>
						</div>
					</div>
-->
<!--
							<div class="d-flex align-items-top mb-2">
								<strong style="width: 10rem;">役職</strong>
								<select class="form-select form-select-sm" style="width: 16rem;" th:field="*{posCd}">
									<option value="">-- 選択してください</option>
									<option th:each="option : *{posOptions}" th:value="${option.code}"
											th:text="${option.name}"></option>
								</select>
							</div>
						</div>
-->
					</div>
					<div class="py-2">
						<button class="btn btn-success btn-sm shadow-sm px-3">
							<span>検索実行</span>
						</button>
					    <a th:href="@{/user/add}" class="btn btn-primary btn-sm">新規登録はこちら</a>
						<input type="button" class="btn btn-secondary btn-sm" value="検索条件クリア" id="clear_user_button">
					</div>

					<div th:replace="common/SearchMsg :: searchMsg"></div>

				</form>
			<hr>
			</div>

		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>NO</th>
		        <th>名前</th>
		        <th>メールアドレス</th>
		        <th>性別</th>
		        <th>年齢</th>
		        <th>更新日時</th>
		        <th class="bg-white"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="user, userRec : ${userlist}" th:object="${user}" class="align-middle">
		        <td th:text="${userRec.count}" class="text-center"></td>
		        <td th:text="*{name}"></td>
		        <td th:text="*{email}"></td>
		        <td th:if="${user.gender == 0}" class="text-center">非公開</td>
		        <td th:if="${user.gender == 1}" class="text-center">男性</td>
		        <td th:if="${user.gender == 2}" class="text-center">女性</td>
				<th:block th:if="${user.age == '' || user.age == null}">
			        <td class="text-center">未登録</td>
				</th:block>
				<th:block th:if="${!(user.age == '' || user.age == null)}">
			        <td th:text="${user.age + '歳'}" class="text-center"></td>
				</th:block>

		        <td th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd H:mm')}" class="text-center"></td>
		        <td class="center"><a th:href="@{/user/{id}(id=*{id})}" class="btn btn-success btn-sm">詳細</a></td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>
	<div th:replace="common/js/JsSearchUser :: scriptSearchUser"></div>

  </body>
</html>