<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	
		<div class="container">
		  <div class="head_title">ユーザー情報詳細</div>
	
		  <div th:replace="common/Msg :: msg"></div>
	
		  <div class="float-end">
			<!-- 右端にボタン  -->
		    <a th:href="@{/user/{id}/delete(id=*{id})}" class="btn btn-danger">　削除　</a>
		  </div>
		  <br />
		  <br />
	
		  <div th:object="${userData}">
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">名前</div>
		      <div class="col pt-3 border bg-white">
		        <p th:text="*{name}"></p>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">メールアドレス</div>
		      <div class="col pt-3 border bg-white">
		        <p th:text="*{email}"></p>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">住所</div>
		      <div class="col pt-3 border bg-white">
		        <p th:text="*{address}"></p>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">電話番号</div>
		      <div class="col pt-3 border bg-white">
		        <p th:text="*{phone}"></p>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">性別</div>
		      <div class="col pt-3 border bg-white">
		        <p th:text="*{gender}"></p>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">生年月日</div>
		      <div class="col pt-3 border bg-white">
		      	<div th:if="${userData.birthdayY == ''}">
					<p></p>
		        </div>
		      	<div th:if="${userData.birthdayY != ''}">
					<p th:text="${userData.birthdayY + '年' + userData.birthdayM + '月' + userData.birthdayD} + '日'"></p>
		        </div>
		      </div>
		    </div>
		    <div class="row mx-md-n5">
		      <div class="col-2 pt-3 border bg-light">年齢</div>
		      <div class="col pt-3 border bg-white">
		      	<div th:if="${userData.age == ''}">
					<p></p>
		        </div>
		      	<div th:if="${userData.age != ''}">
			        <p th:text="${userData.age + '歳'}"></p>
		        </div>
		      </div>
		    </div>
		    
		  </div>
		  <br />
		  <div class="text-center">
		    <a th:href="@{/user/{id}/edit(id=*{id})}" class="btn btn-primary">　編集　</a>
		    <a th:href="@{/user/{id}/editpass(id=*{id})}" class="btn btn-primary">　パスワード編集　</a>
		    <a href="/user/list" class="btn btn-secondary" th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">一覧に戻る</a>
		    <a href="/" class="btn btn-secondary" th:if="${#authentication.principal.roles.get(0) == 'ROLE_USER'}">メニューへ戻る</a>
		  </div>
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>