<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="pt-1">
	<!--  	<div class="mt-3">-->
		    <h5>　◆このポートフォリオは、<span class="text-danger">デモ版</span>です。<span class="text-danger">予告なく</span>、画面レイアウトの変更。</h5>
		    <h5>　システムの更新に伴う、データの削除が発生します。ご了承願います。</h5>
		</div>

	    <h2><span th:text="${message}"></span></h2>

		<section class="bg-dark">
		   <div class="menu_content">
		      <div class="card-wrap">
	
				<div class="card-list">
					<h2 class="card-list-title">◆ユーザー情報管理</h2>
					<div class="text-center mb-2">
						<div th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">
							<a style="width: 100%;" th:href="@{/user/list}" class="btn btn-success">ユーザー情報一覧</a>
							<div class="card-list-text">※管理者と『guest』ユーザーのみ、</div>
							<div class="card-list-text">ユーザー情報一覧が閲覧可能です。</div>
						</div>
						<div th:if="${#authentication.principal.roles.get(0) == 'ROLE_USER'}">
							<a style="width: 100%;" th:href="@{/user/{id}(id=${#authentication.principal.id})}" class="btn btn-success">ユーザー情報</a>
						</div>
					</div>
		        </div>
		
				<div class="card-list">
					<h2 class="card-list-title">◆勤退情報登録</h2>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/work/stamping}" class="btn btn-success">打刻登録</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/work/list}" class="btn btn-success">勤退データ一覧</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/work/reward}" class="btn btn-success">報酬計算(フリーランス版)</a>
					</div>
		        </div>
	
				<div class="card-list">
					<h2 class="card-list-title">◆質問掲示板</h2>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/qboard/headlist}" class="btn btn-success">質問掲示板</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/qboard/new}" class="btn btn-success">質問投稿</a>
					</div>
		        </div>
		
				<div class="card-list">
					<h2 class="card-list-title">◆About Me</h2>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/others/aboutme}" class="btn btn-success">経歴</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/others/devdoc}" class="btn btn-success">開発ドキュメント</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/others/devhistory}" class="btn btn-success">開発履歴</a>
					</div>
					<div class="text-center mb-2">
							<a style="width: 100%;" th:href="@{/others/portfolio}" class="btn btn-success">他ポートフォリオ</a>
					</div>
		        </div>
		
				<div class="card-list">
					<h2 class="card-list-title"></h2>
					<div class="text-center mb-1">
					<!-- 開発中  -->
					</div>
		        </div>
		
				<div class="card-list">
					<h2 class="card-list-title"></h2>
					<div class="text-center mb-1">
					<!-- 開発中  -->
					</div>
		        </div>
		
		      </div>    
		    </div>
		    
		</section>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>