<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'Java(Spring Boot)ポートフォリオ', scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div th:replace="common/footerNavbar :: footer_fragment"></div>
	<div class="mt-3">
	    <h1>◆現在、システムの改修中です。<span class="text-danger">予告なく</span>①画面レイアウトの変更。</h1>
	    <h1>②更新に伴うデータの削除が発生します。ご注意ください。</h1>
	</div>
				
    <h2><span th:text="${message}"></span></h2>

     <section class="bg-dark">
         <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
             <div class="d-flex justify-content-center">
                 <div class="text-center">
                     <div class="card text-white bg-dark mt-0 mb-0" style="max-width: 50rem;">
                         <div class="card-body">

							<div th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">
								<h5>※管理者と『guest』ユーザーのみ、</h5>
								<h5>ユーザー情報一覧が閲覧可能です。</h5>
							</div>
                             <br>

                             <h4>◆ユーザー情報管理</h4>
                             <h5><a th:href="@{/user/list}" rel="noopener" th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">ユーザー情報一覧</a></h5>
                             <h5><a th:href="@{/user/{id}(id=${#authentication.principal.id})}" rel="noopener" th:if="${#authentication.principal.roles.get(0) == 'ROLE_USER'}">ユーザー情報</a></h5>
							<br>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
         <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
             <div class="d-flex justify-content-center">
                 
                 <div class="text-center">
                     <div class="card text-white bg-dark mt-0 mb-0" style="max-width: 50rem;">
                         <div class="card-body">
                             <br>

                             <h4>◆勤怠情報管理（開発中）</h4>
                             <h5><a th:href="@{/work/list}" rel="noopener">勤怠データ一覧</a></h5>
                             <h5><a href="#" rel="noopener">月次実績計算（予定）</a></h5>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
     </section>
     
	<!-- th:replaceを使用して、 フッター用のフラグメントを読込みます -->
	<div th:replace="common/footerScript :: footer_fragment"></div>
     
  </body>
</html>