<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${authUser.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="pt-1">
	<!--  	<div class="mt-3">-->
		    <h5>◆このポートフォリオは、<span class="text-danger">デモ版</span>です。</h5>
		    <h5><span class="text-danger">予告なく</span>①画面レイアウトの変更。</h5>
		    <h5>②更新に伴うデータの削除が発生します。ご了承願います。</h5>
		</div>
	
	    <h2><span th:text="${message}"></span></h2>
	
	     <section class="bg-dark">
	         <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	             <div class="d-flex justify-content-center">
	                 <div class="text-center">
	                     <div class="card text-white bg-dark mt-0 mb-0" style="max-width: 50rem;">
	                         <div class="card-body">
	
								<div th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">
									<h5>※管理者と『guest』ユーザーのみ、</h5>
									<h5>ユーザー情報一覧が閲覧可能です。</h5>
								</div>
	                             <br>
	
	                             <h4>◆ユーザー情報管理</h4>
	                             <div th:if="${#authentication.principal.roles.get(0) != 'ROLE_USER'}">
		                         	<h5><a th:href="@{/user/list}" rel="noopener">ユーザー情報一覧</a></h5>
	                             </div>
	                             <div th:if="${#authentication.principal.roles.get(0) == 'ROLE_USER'}">
	                             	<h5><a th:href="@{/user/{id}(id=${#authentication.principal.id})}" rel="noopener">ユーザー情報</a></h5>
	                             </div>
	                         </div>
	                     </div>
	                 </div>
	
	             </div>
	         </div>
	         <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	             <div class="d-flex justify-content-center">
	                 
	                 <div class="text-center">
	                     <div class="card text-white bg-dark mt-0 mb-0" style="max-width: 50rem;">
	                         <div class="card-body">
	                             <br>
	
	                             <h4>◆勤退情報管理</h4>
	                             <h5><a th:href="@{/work/stamping}" rel="noopener">打刻登録</a></h5>
	                             <h5><a th:href="@{/work/list}" rel="noopener">勤退データ一覧</a></h5>
	                             <h5><a th:href="@{/work/reward}" rel="noopener">報酬計算(フリーランス版)</a></h5>
	                         </div>
	                     </div>
	                 </div>
	
	             </div>
	         </div>
	     </section>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>
     
  </body>
</html>