<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	    <div class="d-flex justify-content-center">
			<div class="card" style="width: 24rem;">
				<div class="card-body center">
					<h5 class="card-title">ログイン</h5>
					<hr />
					<form method="post" autocomplete="off" th:action="@{/login}">
						<div class="form-group">
							<label for="email">E-Mail</label>
							<input type="email" class="form-control" id="email" name="email" tabindex="1" required />
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" name="password" tabindex="2" required />
						</div>
	
	
						<!-- エラーメッセージ -->
						<div class="my-1 text-danger" th:if="${authenticationException}">
							<span th:text="${authenticationException.message}"></span>
						</div>
	
						<hr />
						<div class="py-3 d-grid gap-2">
							<button type="submit" class="btn btn-primary btn-block">ログイン</button>
							<a th:href="@{/user/add}" class="btn btn-success btn-block text-light">ユーザ登録</a>
						</div>
	
						<div class="row mb-3">
				<!-- 		    <div class="col-md-8 offset-md-4">  -->
						    <div class="col-md-0 offset-md-0">
							    <br>『ゲスト(guest)』ユーザーで、
							    <br>ログインすることもできます。
							        <input type="button" class="btn btn-secondary" value="ゲストアカウント" id="guest_button">

							    <br>
							    <br>◆『ゲスト』でのログイン方法
							    <br>①『ゲストアカウント』ボタンを押す。
							    <br>⇒ ②『ログイン』ボタンを押す。
						    </div>					
						</div>
						
					</form>
	
				</div>
			</div>
	
		</div>
	</div>
	
	<section class="bg-dark">
	    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	        <div class="d-flex justify-content-center">
	            
	            <div class="text-center">
	                <div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
	                    <div class="card-body">	
	                        <div>『Spring Boot』(Javaのフレームワーク)で製作したWebアプリです。</div>
	                        <div>↓GitHubで、ソースコードも公開しています。</div>
	                        <div><i class="fab fa-github fa-2x"></i>  GitHub: <a href="https://github.com/kuronuko96GitH/HerokuSpring" target="_blank" rel="noopener">https://github.com/kuronuko96GitH/HerokuSpring</a></div>
	                    </div>
	                </div>
	            </div>
	
	        </div>
	    </div>
	</section>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>