<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = 'Sample画面', scripts = ~{::script}, links = ~{::link})"></head>

  <body th:if="${#authentication.principal.roles.get(0) != 'ROLE_ADMIN'}">
	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	    <h3>閲覧ができません。</h3>
	    <h3><span class="text-danger">※管理者権限がありません。</span></h3>
	</div>

	<!-- script -->
	<div th:replace="common/Script :: script"></div>
  </body>

  <body th:if="${#authentication.principal.roles.get(0) == 'ROLE_ADMIN'}">

	<!-- th:replaceを使用して、 Navbarを読込みます -->
	<div th:replace="common/NavbarSample :: navbarsample"></div>

	<div class="container">
	  <div class="head_title">Sample画面</div>

<!--
    			<form th:action="@{/Logout.do}" method="post">
 -->
<!-- ログオフ(ボタン)…※th:action="@{/logout}"は、Controllerなどにルート情報が設定されて無いと、Htmlを表示した時にエラーとなるで注意。
 -->
	<form th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-success btn-sm shadow-sm">ログオフ</button>
	</form>

<!-- Bootstrap ver 4
  	  <div class="float-left">
-->
	  <div class="float-start">
		<!-- 左端にボタン  -->
	    <a href="#" class="btn btn-primary">新規登録はこちら</a>
	  </div>

<br>
<br>
	  <div class="float-none">
	    <a href="#" class="btn btn-primary">新規登録はこちら</a>
	  </div>

<br>

<!-- Bootstrap ver 4
  	  <div class="float-right">
-->
	  <div class="float-end">
		<!-- 右端にボタン  -->
	    <a href="#" class="btn btn-primary">新規登録はこちら</a>
<!--
	    <a th:href="@{/user/add}" class="btn btn-primary">新規登録はこちら</a>
  -->
	  </div>



<!--  イメージファイルを表示したい場合
	<div>
		<img src="../static/img/app_logo.png" th:src="@{/img/app_logo.png}" alt="app_logo.png" />
	</div>
-->

		    <br>
		    <br>
		    <br>

	<hr />
	    <div class="col-md-8 offset-md-4">
		    <br>
		    ◆JavaScriptの起動テスト。
		    <br>JSファイル内の『function demoTest()』アラートメッセージを表示させたい場合。
		    <br>
		        <input type="button" class="btn btn-secondary" value="ゲストアカウント" onclick="demoTest();">
	<!-- こちらだと、id="guest_button"のJavaScriptイベントが同時発生します。
		        <input type="button" class="btn btn-secondary" value="ゲストアカウント" id="guest_button" onclick="demoTest();">
	  -->
	    </div>


	<hr />
		    <br>
		    <br>
		    <br>

<br><h2>参考ソース：Bootstrapのよく使うクラスまとめ</h2>
	<h2>◆padding</h2>
	<hr />
						<div>
						class指定なし
						<br>brで、改行しただけ
						</div>
	<hr />
						<div class="py-0">
							<div>py-0 上下のパディングを0</div>
							<div>(paddingは、内側の空白指定です)</div>
						</div>
	<hr />
						<div class="py-3">
							<div>py-3 上下のパディングを3</div>
							<div>(paddingは、内側の空白指定です)</div>
						</div>
	<hr />	
	<h2>◆margin</h2>
	<hr />
						<div class="my-3">
							<div>class="my-3"（上下のマージンを、３で指定）</div>
						</div>
	<hr />
						<div class="my-3">
							<div>class="my-3"（class指定に『d-grid』が無い場合、子クラスの『ボタン』は横並びになる）</div>
							<a href="#" class="btn btn-secondary">子クラスのテスト２</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト３</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト４</a>
						</div>
						
	<hr />
						<div class="my-3 d-grid gap-0">
							<div>class="my-3 d-grid gap-0"（子クラス同士の間隔が０）</div>
							<a href="#" class="btn btn-secondary">子クラスのテスト２</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト３</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト４</a>
						</div>
	<hr />
						<div class="my-3 d-grid gap-3">
							<div>class="my-3 d-grid gap-3"（子クラス同士の間隔が３）</div>
							<a href="#" class="btn btn-secondary">子クラスのテスト２</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト３</a>
							<a href="#" class="btn btn-secondary">子クラスのテスト４</a>
						</div>

	<hr />
		    <br>
		    <br>
		    <br>

<br>
<h2>参考ソース：Grid system (グリッドシステム)</h2>

	<hr />

<div class="container">
  <div class="row">
    <div class="col" style="background:#000; color:#FFF;">
      Column
    </div>
    <div class="col" style="background:#FFF;">
      Column
    </div>
    <div class="col" style="background:#000; color:#FFF;">
      Column
    </div>
  </div>
</div>


	<hr />
<div class="container" style="background:#000; color:#FFF;">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col" style="background:#FFF; color:#000;">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col" style="background:#FFF; color:#000;">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>


	<hr />
<div class="container" style="background:#000; color:#FFF;">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
	『1 of 3』
    </div>
    <div class="col-md-auto" style="background:#FFF; color:#000;">
	『2 of 3』幅を自動調整
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto" style="background:#FFF; color:#000;">
	『2 of 3』幅を自動調整
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>


	<hr />
<div class="container" style="background:#000; color:#FFF;">
  <div class="row">
    <div class="col">col</div>
    <div class="col" style="background:#FFF; color:#000;">col</div>
    <div class="col">col</div>
    <div class="col" style="background:#FFF; color:#000;">col</div>
  </div>
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4" style="background:#FFF; color:#000;">col-4</div>
  </div>
</div>


	<hr />

		    <br>
		    <br>
		    <br>

	</div>



	<!-- th:replaceを使用して、 フッター用のフラグメントを読込みます -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>
