<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 『spring-security』は記述しなくても問題無い？
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  -->
<head th:replace="common/Header :: header(title = 'Sample2画面', scripts = ~{::script}, links = ~{::link})"></head>
  <body th:if="${#authentication.principal.roles.get(0) != 'ROLE_ADMIN'}">
	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	    <h3>閲覧ができません。</h3>
	    <h3><span class="text-danger">※管理者権限がありません。</span></h3>
	</div>

	<!-- script -->
	<div th:replace="common/Script :: script"></div>
  </body>

  <body th:if="${#authentication.principal.roles.get(0) == 'ROLE_ADMIN'}">

	<div th:replace="common/NavbarSample :: navbarsample"></div>

	<div class="container">

	  <div class="head_title">サンプル画面（ユーザー認証情報を取得したい）</div>

<strong sec:authorize="isAuthenticated()">認証済み</strong>
<br>
<strong sec:authorize="!isAuthenticated()">未認証</strong>

	<hr />
	<br>

  <th:block sec:authorize="isAuthenticated()">
		      <a href="#" class="btn btn-secondary">　ログイン認証 OK!　</a>
  </th:block>
  <div sec:authorize="isAuthenticated()">
		      <p>ログイン認証のテスト用パターン２ OK!</p>
  </div>
  <th:block sec:authorize="!isAuthenticated()">
		      <a href="#" class="btn btn-secondary">ログイン認証されてません</a>
  </th:block>

	<hr />
◆RootControllerクラスでmodel.addAttribute("authUser", authUser)を事前にする必要あり。
<br>
${authUser.id}：<span th:text="${authUser.id}">id</span>
<br>
${authUser.username}：<span th:text="${authUser.username}">name</span>
<br>
${authUser.email}：<span th:text="${authUser.email}">email</span>

<br>
<br>
${authUser.roles.get(0)}(String型)：<span th:text="${authUser.roles.get(0)}">roles</span>
<br>
${authUser.roles}(List型)：<span th:text="${authUser.roles}">roles</span>


	<hr />
◆RootControllerクラスでmodel.addAttribute("authId", authUser.getId())を事前にする必要あり。
<br>
${authId}：<span th:text="${authId}">userid</span>
<br>
<br>RootControllerクラスでmodel.addAttribute("authName", authUser.getUsername())を事前にする必要あり。
<br>
${authName}：<span th:text="${authName}">username</span>


<!--  ユーザー情報一覧(list.html)　のログイン認証情報を使った処理(※詳細ボタンの表示・非表示)のソース文を退避　-->
	<!--          
	          <td>2022/XX/XX</td>
	          <td th:text="${#dates.format(user.deleteDate, 'yyyy/MM/dd')}"></td>
	        <td class="center"><a th:if="${authId == user.id}" th:href="@{/user/{id}(id=*{id})}" class="btn btn-success">詳細</a></td>
	        <td class="center"><a th:if="${authName == user.name}" th:href="@{/user/{id}(id=*{id})}" class="btn btn-success">詳細</a></td>
	-->
<!-- ログインしてるユーザしか変更・削除できない
	        <td class="center"><a th:if="${authUserName == user.name}" th:href="@{/user/{id}(id=*{id})}" class="btn btn-success">詳細</a></td>
  -->
<!-- 管理者権限を追加したい
	        <td class="center"><a th:if="${authUserName == user.name || authId == user.name}" th:href="@{/user/{id}(id=*{id})}" class="btn btn-success">詳細</a></td>
  -->
<!-- 初期バージョン：誰でも更新・削除が可能。
	        <td class="center"><a th:href="@{/user/{id}(id=*{id})}" class="btn btn-success">詳細</a></td>
  -->
	<hr />

<!--  残念ながら取得でいるのはユーザー名です -->
name：<span th:text="${#authentication.name}">name</span>
<!--<span th:text="${#authentication.email}">email</span> -->

	<hr />

<br>◆${#authentication.principal.XXXXX}
<br>
userid：<span th:text="${#authentication.principal.id}">userid</span>
<br>
username：<span th:text="${#authentication.principal.username}">username</span>
<br>
email：<span th:text="${#authentication.principal.email}">email</span>
<br>
roles(List型)：<span th:text="${#authentication.principal.roles}">roles</span>
<br>
roles(String型)：<span th:text="${#authentication.principal.roles.get(0)}">roles</span>

<br>
<br>
<br>
<br>

	</div>



	<!-- th:replaceを使用して、 フッター用のフラグメントを読込みます -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>
