<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="container">
		  <div class="head_title">開発ドキュメント</div>

	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">(実際に使用してる開発ドキュメント)
	                                					<br>テーブル定義書『users』</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/TableLayout_users.png" th:src="@{/img/TableLayout_users.png}" alt="テーブル定義書『users』">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>


	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">テーブル定義書『works』</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/TableLayout_works.png" th:src="@{/img/TableLayout_works.png}" alt="テーブル定義書『works』">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>


	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">プログラム対応表</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/Devdoc_pid.png" th:src="@{/img/Devdoc_pid.png}" alt="プログラム対応表">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>


	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">カスタマイズ・バグ対応表</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/Devdoc_custom_bug.png" th:src="@{/img/Devdoc_custom_bug.png}" alt="カスタマイズ・バグ対応表">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>

		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>
