<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>
	
		<div class="container">
		  <div class="head_title">開発ドキュメント</div>
	
	        <!-- Masthead-->
	        <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">
	<!--               
	                    <div class="text-center">
	 -->
	                    <div>
	                        <div class="card text-white bg-dark mb-5" style="max-width: 60rem;">
	                            <div class="card-body">
	                                <h4 class="card-title">◆開発履歴</h4>
	
	                                <p class="card-text">2022/01/20　初めてのSpring Boot(Java)　プロジェクト開始。
	                                    <br>2022/01/22　ローカル環境にて、データベースと連携した簡易ユーザー登録完成。
	                                    <br>2022/01/24　Heroku(ネット公開用本番環境)にて、データベースと連携した動作確認成功。
	                                    <br>2022/01/25　ユーザー情報登録・一覧画面追加。(ver 0.3)
	                                    <br>2022/01/29　ログイン画面追加。(ver 0.4)
	                                    <br>2022/01/30　ログインユーザーの権限情報を追加。(ver 0.5)
	                                    <br>　　　　　　　管理者以外は、他ユーザーの編集・削除を不可とする。
	                                    <br>
	                                    <br>2022/01/31　勤怠情報登録・一覧画面（簡易版）を追加。
	                                    <br>2022/02/01　勤怠情報一覧画面にコピー（新規登録）ボタンを追加。
	                                    <br>2022/02/02　勤怠情報一覧画面に勤怠日の検索機能を追加。(ver 0.6)
	                                    <br>2022/02/04　打刻登録画面を追加。(ver 0.7)
	                                    <br>2022/02/07　報酬計算画面を追加。(ver 0.9)
	                                    <br>
	                                    <br>2022/02/11　画面デザインのレイアウト修正。
	                                    <br>　　　　　　　サイドメニューの追加。
	                                    <br>　　　　　　　◆『ver 1.0』の完成。
	                                    <br>
	                                    <br>2022/02/13　ユーザー情報の項目追加。(ver 1.0.1)
	                                    <br>　　　　　　　「性別」「生年月日」「年齢」を追加。
	                                    <br>
	                            </div>
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	        </header>
	
	
	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">(実際に使用してる開発ドキュメント)
	                                					<br>テーブル定義書『users』</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/TableLayout_users.png" th:src="@{/img/TableLayout_users.png}" alt="テーブル定義書『users』">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>
	
	
	       <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">                    
	                    <div class="text-center">
	                        <div class="card text-white bg-dark mb-5" style="max-width: 50rem;">
	                            <div class="card-body">
	                                <p class="card-text">(実際に使用してる開発ドキュメント)
	                                					<br>テーブル定義書『works』</p>
	                            </div>
	                            <img class="card-img-bottom" src="../static/img/TableLayout_works.png" th:src="@{/img/TableLayout_works.png}" alt="テーブル定義書『works』">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>
	        
		</div>

	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>
	
  </body>
</html>
