<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/Header :: header(title = ${sysInfo.title}, scripts = ~{::script}, links = ~{::link})"></head>
  <body>

	<div class="cover"></div>
	<div th:replace="common/Sidenav :: sidenav"></div>

	<div class="main">
		<div th:replace="common/Navbar :: navbar"></div>

		<div class="container">
		  <div class="head_title">開発履歴</div>

	        <!-- Masthead-->
	        <header class="masthead">
	            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
	                <div class="d-flex justify-content-center">
<!--               
	                    <div class="text-center">
-->
	                    <div>
	                        <div class="card text-white bg-dark mb-5" style="max-width: 60rem;">
	                            <div class="card-body">
	                                <h4 class="card-title">◆開発履歴</h4>

	                                <p class="card-text">2022/01/20　初めてのSpring Boot(Java)　プロジェクト開始。
	                                    <br>2022/01/22　ローカル環境にて、データベースと連携した
	                                    <br>　　　　　　　（簡易版）ユーザー登録完成。
	                                    <br>2022/01/24　Heroku(ネット公開用本番環境)にて、
	                                    <br>　　　　　　　データベースと連携した動作確認成功。
	                                    <br>2022/01/25　ユーザー情報登録・一覧画面追加。(ver 0.3)
	                                    <br>2022/01/29　ログイン画面追加。(ver 0.4)
	                                    <br>2022/01/30　ログインユーザーの権限情報を追加。(ver 0.5)
	                                    <br>　　　　　　　管理者以外は、他ユーザーの編集・削除を不可とする。
	                                    <br>
	                                    <br>2022/01/31　勤退情報登録・一覧画面（簡易版）を作成。
	                                    <br>2022/02/01　勤退情報一覧画面にコピー（新規登録）ボタンを追加。
	                                    <br>2022/02/02　勤退情報一覧画面に勤退日の検索機能を追加。(ver 0.6)
	                                    <br>2022/02/04　打刻登録画面を追加。(ver 0.7)
	                                    <br>2022/02/07　報酬計算画面を追加。(ver 0.9)
	                                    <br>
	                                    <br>2022/02/11　画面デザインのレイアウト修正。
	                                    <br>　　　　　　　サイドメニューの追加。
	                                    <br>　　　　　　　◆『ver 1.0』の完成。
	                                    <br>
	                                    <br>2022/02/13　ユーザー情報の項目追加。(ver 1.0.1)
	                                    <br>　　　　　　　「性別」「生年月日」「年齢」を追加。
	                                    <br>2022/02/15　ユーザー情報一覧に検索機能を追加。(ver 1.0.2)
	                                    <br>2022/02/16　勤退情報一覧の検索機能も修正。(ver 1.0.3)
	                                    <br>2022/02/17　タイムアウトなどによる
	                                    <br>　　　　　　　システムエラーのメッセージ画面を作成。(ver 1.0.4)
	                                    <br>
	                                    <br>2022/02/26　質問掲示板（仮）を作成。(ver 1.0.5)
	                                    <br>2022/02/27　質問掲示板のレイアウトを修正。(ver 1.0.6)
	                                    <br>2022/02/27　質問掲示板にて、荒らしなどによる違反投稿を
	                                    <br>　　　　　　　管理者権限で削除できる機能を追加。(ver 1.0.7)
	                                    <br>2022/02/28　質問掲示板に、検索処理を追加。(ver 1.0.8)
	                                    <br>
	                                    <br>2022/03/02　勤退情報一覧に、ページネーション機能を追加。(ver 1.0.9)
	                                    <br>2022/03/02　質問掲示板に、ページネーション機能を追加。(ver 1.1.0)
	                                    <br>
	                                    <br>2022/03/07　Web会議室を追加。(ver 1.1.1)
	                                    <br>2022/03/10　Web会議室に評価ボタンを追加。(ver 1.1.2)
	                                    <br>
	                                    <br>2022/03/11　勤退情報一覧・入力画面の勤退日を
	                                    <br>　　　　　　　テキスト入力⇒カレンダーに変更。(ver 1.1.3)
	                                    <br>
	                            </div>
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	        </header>
	
		</div>
	</div>

	<!-- Scripts -->
	<div th:replace="common/Script :: script"></div>

  </body>
</html>
